<p style="color: green"><%= notice %></p>

<h1>Positions</h1>

<div id="positions" class="row">
  <% @positions.each do |position| %>
    <%= render position %>
  <% end %>
</div>

<%= link_to "New position", new_position_path %>
