<tr>
   <td class="align-middle p-3"><%= applicant.name %></td>
   <td class="align-middle"><%= applicant.email %></td>
   <td class="align-middle"><%= applicant.phone %></td>
   <td class="align-middle"><%= applicant.created_at&.strftime("%d/%m/%Y") %></td>
   <td class="align-middle">
      <div class="d-flex col justify-content-around gap-1">
      </div>
   </td>
</tr>
